a{
	color: black;
}
.raya{
	border-right: 2px solid black;
}

.container{
	margin:0 30px;
}
.Busqueda{
	border: 2px solid black;
	margin-left:10px;

}
.Busqueda a{
color:gray;
}
h1, .Noticias, .Enlaces, .Busqueda, button{ 
	float:left;
	line-height: 30px;
	margin-top: 40px;
}
.Noticias, .Enlaces, .Busqueda{
	padding-right: 20px;
}
.container{
	width: 100%;

}
h1{
	margin-right: 50%;
}
.Enlaces{
	border-right: 2px solid black;
}
.header img{
	width: 20px;
	padding-right: 5px;
}
button{
	margin-left: 10px;
}
#home .sombreado{
	color:white;
	background: gray;
	width: 130px;
	line-height: 30px;
	padding-left: 5px;
}
#home .letramediana{
font-size: 12px;
color:black;
}
#home .peqencabezados{
font-size: 11px;
}
.gris{
color:#848484;	
}
img{
	width:100%;
}
#myTab{
	background:#BDBDBD;
	padding: 40px 10px 0;
	margin-bottom: 20px;
}
.sombra{
	background:#A4A4A4;
	padding: 0;
	margin-left: 15px;
}
.raya{
	width: 100%;
	border-bottom: 1px solid #BDBDBD;
	margin:20px 0;
}
.fondo{
	background:#D8D8D8;
	padding: 0 8px;
}
.fondo-a{
	background:#E6E6E6;
	padding: 0 8px;
}
/*Barra de búsqueda*/
